@mixin flex {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop-only {
        flex-direction: row;
    }
}

@mixin flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}