@mixin flex {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}