$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg1: #fff;
$color-bg2: #f3f3f3;
$color-icon: #8c8c8c;
$color-hover: $color-secondary;
$color-footer: rgb(37, 37, 37);

$color-text1: #000;
$color-text2: #fff;

$border-radius: 25px;
$box-shadow: 0 5px 9px gray;