@keyframes loading-cards {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    &__container img {
        position: absolute;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: 35%;
        top: 70px;

    }
    &__wrapper {
        margin-top: 260px;
        position: relative;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: $color-bg2;
        padding: 35px 15px;
    }
    &__title {
        @include flex-menu;
        align-items: center;
        span {
            padding-right: 30px;
        }
    }
    &__organizer h2 {
        padding: 15px 0 40px;
        > span {
            padding: 5px 0;
            border-bottom: solid 3px $color-tertiary;
        }
    }
    &__card {
        @include flex-menu;
        background-color: $color-bg1;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin: -30px 0 50px;
        overflow: hidden;
        animation-name: loading-cards;
        animation-fill-mode: both;
        animation-duration: 1200ms;
        @for $i from 2 to 6 {
            &:nth-child(#{$i}) {
                animation-delay: 250ms * ($i - 1) ;
            }
        }

        &__block {
            @include flex-menu;
            width: 100%;
            padding: 0 2rem;
            margin-bottom: 5px;
            overflow: hidden;
        }
    }
    &__text {
        overflow: hidden;
        h3, p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__btn {
        @include flex;
        padding-top: 15px;
        button {
            padding: 15px 60px;
        }
    }
}

@include tablet-only {
    .menu {
        &__title {
            @include flex;
            flex-direction: row;
            span {
                padding-left: 30px;
            }
        }
        &__organizer {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 25px;
        }
        &__category {
            display: flex;
            flex-direction: column;
            width: 32%;
        }
    }
}

@include desktop-only { 
    .menu__title span {
        padding-left: 50px;
    }
}