.menu {
    &__container img {
        position: absolute;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        top: 70px;

    }
    &__wrapper {
        margin-top: 260px;
        position: relative;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: $color-bg2;
        padding: 35px 15px;
    }
    &__title {
        @include flex-menu;
        align-items: center;
        button {
            padding-right: 30px;
        }
    }
    &__organizer h2 {
        padding: 15px 0;
        > span {
            padding: 5px 0;
            border-bottom: solid 3px $color-tertiary;
        }
    }
    &__card {
        @include flex-menu;
        background-color: $color-bg1;
        border-radius: $border-radius;
        box-shadow: 0 5px 9px gray;
        margin-bottom: 20px;
    }
    &__text {
        padding-left: 25px;
    }
    &__price {
        padding-right: 40px;
    }
    &__validation {
        display: none;
    }
    &__btn {
        @include flex;
        padding-top: 15px;
        button {
            padding: 15px 60px;
        }
    }
}
@include tablet-only {
    .menu {
        &__title {
            @include flex;
            button {
                padding-left: 50px;
            }
        }
        &__organizer {
            display: flex;
            justify-content: space-around;
        }
        &__category {
            display: flex;
            flex-direction: column;
        }
    }
}