.location {
    @include flex;
    background-color: (darken($color: $color-bg2, $amount: +5));
    padding: 10px 0;
    box-shadow: inset 0px 4px 3px #999;
    color: (lighten($color: $color-text1, $amount: +10));
    > p {
        margin: 5px;
    }
    &__icon {
        padding-right: 10px;
    }
}

.search {
    @include flex;
    @include desktop-only {
        flex-direction: column;
    }
    background-color: $color-bg2;
    padding: 20px;
    text-align: center;
    > button {
        margin: 20px;
    }
}

.function {
    padding: 20px 0 30px;
    &__wrapper {
        @include desktop-only {
            @include flex;
            justify-content: space-around;
            p {
                padding-right: 20px;
            }
        }
    }
    &__button {
        background-color: $color-bg2;
        border-radius: $border-radius;
        padding: 10px;
        margin: 2rem 1rem;
    }
    &__button:hover {
        background-color: lighten($color-secondary, $amount: +20);
        .i-bg {
            color: $color-primary;
        }
    }
    &__number {
        border-radius: $border-radius;
        background-color: $color-primary;
        color: $color-text2;
        padding: 6px 12px;
        margin: 0 15px 0 -35px;
    }
}

.i-bg {
    padding: 0 15px;
    color: $color-icon;
}