button {
border: none;
    &.btn {
        padding: 15px;
        border-radius: $border-radius;
        color: $color-text2;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        
    }
}

button:hover {
    transform: scale(1.01);
    cursor: pointer;  
}

.heart {
    position: absolute;
    top: 30%;
    right: 3rem;
    text-align: center;
    color: #656565;
    &__bg {
        font-size: 4.5rem;
        padding-top: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 250ms;
      }
    
  }