button {
border: none;
    &.btn {
        padding: 20px;
        border-radius: $border-radius;
        color: $color-text2;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        &__heart {
            font-size: 25px;
            background-color: inherit;
        }
    }
}

button:hover {
    transform: scale(1.01);
    cursor: pointer;  
}

.btn__heart:active {
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
}