.card__wrapper {
    display: flex;
    justify-content: center;
}

.card {
    width: 95%;
    border-radius: $border-radius;
    box-shadow: 0 0 16px gray;
    height: 200px;
    &__picture {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        object-fit: cover;
        width: 100%;
        height: 120px;
    }
    &__text {

    }
}