@keyframes loader {
   to {
        opacity: 0;
        z-index: -100;
    }

}

.loading {
    @include flex;
    animation-name: loader;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);;
    inset: 0;
    z-index: 1;
    position: fixed;
    &__text {
        position: absolute;
    }
}
