@keyframes loader {
   to {
        opacity: 0;
        z-index: -100;
    }

}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    @include flex;
    animation-name: loader;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    opacity: 0.98;
    inset: 0;
    z-index: 1;
    position: fixed;
    &__ring {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: absolute;
      }
      &__ring:after {
        content: " ";
        animation: loading-ring 1.2s linear infinite;
        position: absolute;
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 5px solid $color-bg1;
        border-color: $color-bg1 transparent;
    }
}

