.menu__validation {
    width: 0;
    background-color: $color-tertiary;
    span {
        padding: 2.1rem;
        color: white;
        font-size: 2rem;
        transform: rotate(0turn);
        transition: transform 0.7s;
    }
}

.menu__card:hover {
    cursor: pointer;
    .menu__card__block {
        width: 80%;
    }
    .menu__validation {
        width: 20%;
        transition: width 0.5s;
        span {
            transform: rotate(-1turn);
        }
    }
}