$font-family-text: 'Roboto', sans-serif;
$font-family-title: 'Shrikhand', sans-serif;
$font-size-text: 1.1rem;
$font-size-title: 1.6rem;

body {
    font-family: $font-family-text;
    font-size: $font-size-text;
}

.header__logo p, .menu__title h1, footer h2 {
    font-family: $font-family-title;
    font-size: $font-size-title;
}

main {
    line-height: 5px;
}

main h2 {
    padding-left: 2rem;
}