footer {
    background-color: $color-footer;
    color: white;
    padding: 1rem 0 2rem;
    h2 {
        padding-left: 2.5rem;

    }
    .footer__icon {
        padding-right: 0.5rem;
    }
    
}
