.header__logo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    > p {
        margin: 15px 0 10px;
    }
    span {
        position: absolute;
        left: 5%;
        top: 40%;
    }
}